{% extends "layout/main.html" %}


{% block styles %}
<style>
img {
	width:320px;
}
</style>

{% endblock %}
{% block body %}

	
<div class="row-fluid">
	<!--<div class="row">-->
		<div class="span6">
		    {% if form.errors %}
		    <ul class="errors">
		        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
		            {% for error in field_errors %}
		                <li class="alert alert-error">
		                	{{ form[field_name].label.text }} - {{ error }}
		               	</li>
		            {% endfor %}
		        {% endfor %}
		    </ul>
		    {% endif %}

		    <h2>Share Your Wish Item</h2>
		    <p></p>
			<form method="POST" enctype="multipart/form-data">
				
				{{ form.title.label }}
				{{ form.title }}

				{{ form.description.label }}
				{{ form.description }}

				<!--category:-->
				<br>
				categories
				<br><br>
				{{ form.category }}

				{{ form.postedby.label }}
				{{ form.postedby }}
				<br>
				{{ form.fileupload.label }}
				{{ form.fileupload }}
				<br><br>
				<input class="btn btn" type="submit" value="upload">


			</form>
		</div>





<!--add this -->
<div class="span6">


    <label for="user_address">Where I Am<br>Look up Lat/Lng for an address or zipcode.</label>
    <input type="text" id="user_address" name="user_address" value="721 Broadway, New York NY">
    <br>
    <input type="button" id="locate_button" class="btn" value="Locate">

  </div>

<br>
    <form method="POST">
      <label for="user_address">Find Shopping Places<br>Send Latitude / Longitude to search.</label>
      <input type="text" id="user_latlng" name="user_latlng" size="40">
      <br>
      <input type="submit" id="search_button" class="btn" value="Search 4SQ" disabled=disabled>
    </form>

</div>










			<!--<label>Shops</label>
			<span class="help-block">ZIP CODE</span>-->

			
			<!--{# comment - loop through categories and create checkboxes #}
			{% for c in categories|sort %}
			<label class="checkbox">
			<input type="checkbox" name="categories" value="{{ c|replace(" ","_") }}" {% if c|replace(" ","_") in form.categories.data %}checked=checked{% endif %} > {{ c|title }}
			</label>
			{% endfor %}


			<button type="submit" class="btn btn">Submit</button>
		</form>-->
	</div>









<div class="row-fluid">

		<div class="span12">
			<h2>Wish Item List</h2>

			
			<hr>


<div class="container">
      	<div class="row-fluid">
            <ul class="thumbnails">



</div>

			{% for img in images %}


<li class="span3">
			<div class="thumbnail">



				<a title="{{img.title}}" alt="Title:{{img.title}}. Description: {{img.description}}" href="https://s3.amazonaws.com/wishbucket/{{img.filename}}">
				<img src="https://s3.amazonaws.com/wishbucket/{{img.filename}}" class="img-polaroid"></a>
				<br>
				<h3>{{img.title}}</h3>
				{{img.category}}
				<p>{{img.description}}

					<br>
					{{ img.postedby }} - {{ img.timestamp.strftime("%m/%d/%y")}}
				</p>
				<a href="/delete/{{img.id}}" class="btn btn">delete</a>




<!--like button --> 

		<script>document.getElementById('response').focus()</script>
			<form method="POST" action="/">
				<div class="btn-group" style="float:left;">
				<button type="submit" name="do" value="like" class="btn btn-mini"><i class="icon-heart"></i></button>
				
		</form>

		</div>


<!--like button-->









		{% endfor %}
		</div>

</li>
</ul>



</div><!-- row -->


{% endblock %}


<!--addtional-->



{% block scripts %}
<!--
	Google Maps API
	https://developers.google.com/maps/documentation/javascript/tutorial

	Get API Key here >> https://code.google.com/apis/console/b/0/
	Put API Key in line below

--> 
<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQsmkT26JbAduQgEDzrtBaIjStLou_z3c&sensor=false"></script>-->

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU1fE5CKCqkzAHn61AhCIazqLCnbuWcCw&sensor=false"></script>

<!--
Google Geocoding Javascript API
https://developers.google.com/maps/documentation/javascript/geocoding
-->
<script>
  var geocoder;
  var google_location;

  // when html dom is ready, run this code  
  jQuery(document).ready(function(){

      // initialize google geocoder
      geocoder = new google.maps.Geocoder();

      // locate button click event
      jQuery('#locate_button').click(codeAddress);
      
  });

  var codeAddress = function(){
    var address = jQuery('#user_address').val();
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {

        console.log("received geo info from Google");
        console.log(results);
        console.log(results[0].geometry.location);
        
        google_location = results[0].geometry.location;
        latlng_str = google_location.lat() + "," + google_location.lng();
        console.log(latlng_str);

        jQuery('#user_latlng').val(latlng_str);
        jQuery('#search_button').removeAttr('disabled');

      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }
</script>











{% endblock %}