{% extends "layout/main.html" %}

{% block styles %}
<style>
img {
	width:320px;
}
</style>

{% endblock %}
{% block body %}

	
<div class="row-fluid">
	<!--<div class="row">-->
		<div class="span6">
		    {% if form.errors %}
		    <ul class="errors">
		        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
		            {% for error in field_errors %}
		                <li class="alert alert-error">
		                	{{ form[field_name].label.text }} - {{ error }}
		               	</li>
		            {% endfor %}
		        {% endfor %}
		    </ul>
		    {% endif %}

		    <h2>Share Your Wish Item</h2>
		    <p></p>
			<form method="POST" enctype="multipart/form-data">
				
				{{ form.title.label }}
				{{ form.title }}

				{{ form.description.label }}
				{{ form.description }}

				<!--category:-->
				<br>
				categories
				<br><br>
				{{ form.category }}

				{{ form.postedby.label }}
				{{ form.postedby }}
				<br>
				{{ form.fileupload.label }}
				{{ form.fileupload }}
				<br><br>
				<input class="btn btn" type="submit" value="upload">


			</form>
		</div>





<!--add this -->
<div class="span6">

			<label>Shops</label>
			<span class="help-block">ZIP CODE</span>

			
			<!--{# comment - loop through categories and create checkboxes #}
			{% for c in categories|sort %}
			<label class="checkbox">
			<input type="checkbox" name="categories" value="{{ c|replace(" ","_") }}" {% if c|replace(" ","_") in form.categories.data %}checked=checked{% endif %} > {{ c|title }}
			</label>
			{% endfor %}


			<button type="submit" class="btn btn">Submit</button>
		</form>-->
	</div>











		<div class="span12">
			<h2>Wish Item List</h2>

			<hr>


<div class="container">
      	<div class="row-fluid">
            <ul class="thumbnails">





			{% for img in images %}


<li class="span3">
			<div class="thumbnail">



				<a title="{{img.title}}" alt="Title:{{img.title}}. Description: {{img.description}}" href="https://s3.amazonaws.com/wishbucket/{{img.filename}}">
				<img src="https://s3.amazonaws.com/wishbucket/{{img.filename}}" class="img-polaroid"></a>
				<br>
				<h3>{{img.title}}</h3>
				{{img.category}}
				<p>{{img.description}}

					<br>
					{{ img.postedby }} - {{ img.timestamp.strftime("%m/%d/%y")}}
				</p>
				<a href="/delete/{{img.id}}" class="btn btn">delete</a>




<!--like button --> 

		<script>document.getElementById('response').focus()</script>
			<form method="POST" action="/">
				<div class="btn-group" style="float:left;">
				<button type="submit" name="do" value="like" class="btn btn-mini"><i class="icon-thumbs-up"></i></button>
				
		</form>

		</div>

<!--like button-->








			{% endfor %}
		</div>

</li>
</ul>






	</div><!-- row -->

{% endblock %}

{% block scripts %}{% endblock %}